$site-background-color: #000000;
$site-text-color: cyan;

$site-selection-background: white;
$site-selection-color: purple;

$section-space: 5rem;

$skillbar-height: 2em;
$skillbar-edge-margin: .5em;
$skillbar-fill-color: darkslategray;
$skillbar-border-color: yellow;
$skillbar-min-level: 1;
$skillbar-max-level: 5;

$project-border-color: yellow;
$project-background-color-hover: #1f1f1f;
$project-stack-color: darkslategray;

// $footer-border-color: yellow;
$footer-border-color: purple;